div.navbar-end.custom {
  float: none;
  margin-top: -71px;
}
div.hero.is-fullheight {
  position: relative;
  z-index: 1;
}

#body {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://amparosaude.com.br/wp-content/uploads/2020/12/kv_ajuste-1.jpg");
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
}

table tbody > tr:hover {
  cursor:pointer;
}
.active {
  color:red;
  font-weight:bold;
}

table.table thead tr, th{
  text-align: left;
}

ul.pagination-list {
  list-style: none;
}

.even {
  background: #eee;
}
.odd {
  background: #fff;
}